body {
  text-align: center;
}

.App{
  background-color: #373c42;
  padding: 20px;
  width: auto;

}

.App-header {
  background-color: #2196f3;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
